
cytoolz==0.10.1
dj-database-url==0.5.0
Django==2.2.24
djangorestframework==3.11.0
itsdangerous==0.24
json5==0.9.1
jsonschema==3.2.0
passlib==1.7.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
psycopg2-binary==2.8.5
pytz==2020.1
Werkzeug==0.14.1
